


.package-menu {
  padding: 0;
  margin: auto;
  max-width: 1000px;

  /* flexbox */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
}

mat-card {
  padding: 0.2% 2%;

  font-size: 1.2rem;
  display: inline-block;
  text-align: center;
  width: fit-content;
  min-width: 70px;
  margin: .9%;
  //box-sizing: border-box;

  ///* flexbox */
  //order: 0;
  //flex: 0 1 auto;
  //align-self: auto;
}
mat-card:hover  {
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}

