<div class="col-8" xmlns="http://www.w3.org/1999/html">
  <h2>Sign Up</h2>
  <mat-card>
    <mat-card-content>
      <img id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="profile-img-card col-3"/>
      <form [formGroup]="registerFormGroup">

        <div>
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput [formControlName]="'name'">
            <mat-error *ngIf="registerFormGroup.get('name')?.hasError('required')">Username is required</mat-error>
            <mat-error *ngIf="registerFormGroup.get('name')?.hasError('minLength')">Name must be at least 4
              characters
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Surname</mat-label>
            <input matInput [formControlName]="'surname'">
            <mat-error *ngIf="registerFormGroup.get('surname')?.hasError('required')">Surname is required</mat-error>
            <mat-error *ngIf="registerFormGroup.get('surname')?.hasError('minLength')">Surname must be at least 4
              characters
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput [formControlName]="'username'">
            <mat-error *ngIf="registerFormGroup.get('username')?.hasError('required')">Username is required</mat-error>
            <mat-error *ngIf="registerFormGroup.get('username')?.hasError('minLength')">Username must be at least 4
              characters
            </mat-error>
            <mat-error *ngIf="registerFormGroup.get('username')?.hasError('alreadyExist')">Username already exists in
              our
              database
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="password" [formControlName]="'password'">
            <mat-error *ngIf="registerFormGroup.get('password')?.hasError('required')">Password is required</mat-error>
            <mat-error *ngIf="!registerFormGroup.get('password')?.hasError('required')  &&
          !registerFormGroup.get('password')?.hasError('minLength')">Password must be at least 6 characters
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" [formControlName]="'password2'">
            <mat-error *ngIf="registerFormGroup.get('password2')?.hasError('passwordDifferent')">Passwords does not match</mat-error>
          </mat-form-field>
        </div>


      </form>
      <mat-card-actions align="end">
        <button class="btn mr-1 btn-primary float-right" (click)="submit()">Registrati</button>
      </mat-card-actions>
    </mat-card-content>
    <div class="alert alert-success" *ngIf="isSuccessful">
      <h3>Registration Successful</h3>
      <p>Congratulations, your account has been successfully created.</p>
      <p>Please go to <a href="/login">login page</a> and log in to your account</p>

    </div>
  </mat-card>
</div>
