<h2>Checkout:</h2>

<mat-card *ngIf="data" class="col-5">
  <h3>Package name: {{data.package.name}}</h3>
  <h4>Services offered: </h4>
  <ul *ngFor="let item of data.package.telecomServices">
    <li>Service name: {{item.name}}</li>
    <ul *ngFor="let item of item.details | keyvalue">
      <li *ngIf="item.key != '@type'">{{item.key}}: {{item.value}}</li>
    </ul>
  </ul>
  <h5>Validity period:</h5>
  <ul>
    <li>Months: {{data.validityPeriod.months}}, Fee: {{data.validityPeriod.fee}}</li>
  </ul>
  <h5>Optional Packages:</h5>
  <ul>
    <li *ngFor="let opt of data.optionalPackages">
        {{opt.name}}, {{opt.monthlyFee}}
    </li>
  </ul>

  <mat-divider></mat-divider>
  <h5 class="m-2">Total: {{data.totalValue}}</h5>
  <mat-divider></mat-divider>


 <button class="btn btn-primary mt-3" (click)="buy()">Buy</button>
</mat-card>
