<h2>Product Details</h2>

<div *ngIf="packageDetails">
  <h3>{{ packageDetails.package!.name }}</h3>
  <ul *ngFor="let item of packageDetails.package!.telecomServices">
    <li>id: {{item.id}}</li>
    <li>name: {{item.name}}</li>

    Details:
    <ul *ngFor="let item of item.details | keyvalue">
      <li>{{camelToText(item.key)}}: {{item.value}}</li>
    </ul>

  </ul>
  <!--  <p>type: {{ packageDetails.package.type }}</p>-->
  <button class="btn btn-primary" (click)="buy(packageDetails.package)">Buy</button>
</div>
