<mat-sidenav-container autosize class="sidenav-container">
  <mat-sidenav #drawer class="sidenav mat-elevation-z8" fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>
      <button mat-button (click)="sidenav.close()" id="close-button">
        <mat-icon>close</mat-icon>
      </button>
      Menu
    </mat-toolbar>
    <mat-nav-list>
      <a *ngFor="let element of navElements" mat-list-item routerLink="{{element.link}}"
         (click)="setTitle(element.title)">
        {{element.title}}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div id="app">
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <button mat-button (click)="sidenav.toggle()" id="menu-button">
            <mat-icon style="color: #fff;">menu</mat-icon>
          </button>


          <mat-toolbar-row>
            <div class="navbar-nav mr-auto" routerLinkActive="active">
              <a href="/home" class="nav-link" routerLinkActive="active" routerLink="home"
                 style="color: #fff;">Teleco Application</a>
            </div>
            <span class="example-spacer"></span>

            <a *ngIf="!isLoggedIn" href="/register" class="nav-link" routerLink="register" style="color: #fff;">Sign
              Up</a>
            <a *ngIf="!isLoggedIn" href="/login"  class="nav-link" routerLink="login" style="color: #fff;">Login</a>
            <a *ngIf="isLoggedIn" href="/profile" class="nav-link"  routerLink="profile" style="color: #fff;">
              {{"ROLE:" + role + " | Username: " + username }}
            </a>
<!--            <a *ngIf="isLoggedIn" class="nav-item" href="/login" (click)="logout()" style="color: #fff;">-->
            <a *ngIf="isLoggedIn" class="nav-item"  (click)="logout()" style="color: #fff;">
              LogOut
            </a>

          </mat-toolbar-row>


        </mat-toolbar-row>
      </mat-toolbar>

    </div>
    <div id="content">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
