<mat-sidenav-container autosize class="sidenav-container">
  <mat-sidenav #drawer class="sidenav mat-elevation-z8" fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false"
               >
    <mat-toolbar>
      <button mat-button (click)="sidenav.close()" id="close-button"><mat-icon>close</mat-icon></button>
      Menu
    </mat-toolbar>
    <mat-nav-list>
      <a  *ngFor="let element of navElements" mat-list-item routerLink="{{element.link}}"
          (click)="setTitle(element.title)">
        {{element.title}}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div id="app">
      <mat-toolbar color="primary">
        <button mat-button (click)="sidenav.open()" id="menu-button"><mat-icon style="color: #fff;">menu</mat-icon></button>
        {{title}}</mat-toolbar>
      <nav *ngIf="showLoginBar" class="navbar navbar-expand navbar-dark bg-dark">
          <div class="navbar-nav mr-auto" routerLinkActive="active">
            <a href="/home" class="nav-link" routerLinkActive="active" routerLink="home">Home</a>
          </div>

        <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
          <li class="nav-item">
            <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
          </li>
          <li class="nav-item">
            <a href="/login" class="nav-link" routerLink="login">Login</a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
          <li class="nav-item">
            <a href="/profile" class="nav-link" routerLink="profile">{{"ROLE:" + role + " | Username: " + username }}</a>
          </li>
          <mat-divider vertical style="border-right-width: 2px; border-right-color: #673ab7"></mat-divider>
          <li class="nav-item">
            <a href class="nav-link" (click)="logout()">LogOut</a>
          </li>
        </ul>
      </nav>
    </div>
    <div id="content"><router-outlet></router-outlet></div>

  </mat-sidenav-content>
</mat-sidenav-container>
