<div class="modal-content">
  <div class="modal-header">
    <h2 class="modal-title">{{data.title}}</h2>
  </div>
  <div class="modal-body">
    <h6>Select the optional packages to add</h6>
    <mat-form-field appearance="fill">
      <mat-label>Optional packages</mat-label>
      <mat-select [formControl]="formOptionalPackages" multiple>
        <mat-select-trigger>
          {{formOptionalPackages.value ? formOptionalPackages.value[0] : ''}}
          <span *ngIf="formOptionalPackages.value?.length > 1" class="example-additional-selection">
        (+{{formOptionalPackages.value.length - 1}} {{formOptionalPackages.value?.length === 2 ? 'other' : 'others'}})
      </span>
        </mat-select-trigger>
        <mat-option *ngFor="let option of data.packageDetails.optionalPackages" [value]="option">
          {{option.name}}
          <span class="example-additional-selection">{{option.description}}</span>
          <span class="example-additional-selection">{{option.cost | currency}}</span>
        </mat-option>
      </mat-select>
    </mat-form-field>


    <h6>Select the validity period</h6>
    <mat-form-field appearance="fill">
      <mat-label>Period</mat-label>
      <mat-select [formControl]="formPeriods">
        <mat-select-trigger>
          {{formPeriods.value?.name}}
        </mat-select-trigger>
        <mat-option *ngFor="let period of data.packageDetails.validityPeriods" [value]="period">
          {{period.name}}<br>
          <span class="example-additional-selection">ID: {{period.id}}</span>
          <span class="example-additional-selection">ID: {{period.id}}</span>
          <span class="example-additional-selection">ID: {{period.id}}</span>
        </mat-option>

      </mat-select>
    </mat-form-field>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="failure()">No</button>
    <button type="button" class="btn btn-primary" (click)="success()">Yes</button>
  </div>
</div>
