<h1 class="center">Welcome to Teleco</h1>


<div class="card">
  <p-carousel [value]="packages" [numVisible]="3" [numScroll]="3" [circular]="false"
              [responsiveOptions]="responsiveOptions">
    <ng-template pTemplate="header">
      <h5>Overview</h5>
    </ng-template>
    <ng-template let-package pTemplate="item">
      <div class="product-item">
        <div class="product-item-content">
          <div>
            <h4 class="p-mb-1">{{package.name}}</h4>
            <h5 class="p-mb-1">{{package.id}}</h5>
            <span
              [class]="'product-badge status-'+package.type">{{package.type}}</span>
            <div class="center mt-2">
              <button routerLink="/detail/{{package.id}}" class="btn btn-primary btn-block col-7">
                Discover
              </button>
            </div>

          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
